body
{
   background-color: rgb(19, 15, 15);
   margin: 0 auto;   
   /* display: flex; */
   flex-direction: center;
   justify-content: center;
   align-items: center;
   font-family: 'Pt Sans', sans-serif;
}
h1{
    text-align: center;
    color: rgb(156, 208, 253);
    font-family: 'Times New Roman', Times, serif;
}

header{
    margin: 0px;
    width: 100vh;
    height: 120px;
    background-color: rgba(1, 1, 1, 1);
    padding-top: 10px;
	min-height: 60px;
    position:relative;
    top:0;
    left: 0;
    width: 100%;
}
footer{
    margin: 0px;
    width: 100vh;
    height: 120px;
    background-color: rgba(1, 1, 1, 1);
    padding-top: 10px;
	min-height: 60px;
    position:relative;
    top:0;
    left: 0;
    width: 100%;
}
.divs{
    margin: 50px auto 50px auto;
    background-color: rgba(0, 0, 0,.6);
    border-radius: 0px;
    width: 25cm;
    height: 20cm;
    box-shadow: 1px 1px 20px rgb(153, 153, 153);
    font-size: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: Georgia;
    border-radius: 20px;
    
}

div h2{
    margin-left: 12px;
    color: rgb(255, 255, 255);
}
.centro{
    text-align: center;
}
input{
    background-color: rgb(75, 73, 73);
    color: aliceblue;
    height: 30px;
    width: 80px;
    margin-top: 15px;
}
